header
{
    display: flex;
    align-items: center;
    padding-left: 4em;
    margin-bottom: 5%;
    height: 7em;
    background-color: rgb(196, 1, 1);

}
.container
{
    padding-top: 5%;

}
.card
{
    display: flex;
    flex-direction: row;
    background-color: beige;
    box-shadow: 6px 5px 7px 3px black;
    padding: 3%;
}
.card-title
{
    padding-left: 5%;
    min-width: 400px;
    width: fit-content;
}
.btn
{
    margin-left: 7em;
    background-color: blue;
    color: white;
    min-width: 20%;
}